@import url('./vendor/fonts.css');

:root {
  --color-primary: #2f71e5;
  --color-primary-dark: #0255e5;

  --color-active: #2f71e5;
  --color-active-hover: #0255e5;
  --color-active-disabled: #8cace5;
  --color-active-overlay: #ffffff;

  --color-text: #000000;
  --color-text-secondary: #8b8b8b;
  --color-text-disabled: #cfcfcf;

  --color-background: #f5f7fb;
  --color-white: #ffffff;
  --color-border: #d9d9d9;

  --color-success: #00d160;
  --color-error: #ff0000;

  --font-main: "Inter", Arial, sans-serif;

  --transition-default: 0.3s ease;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  min-width: 320px;
  margin: 0;
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: var(--font-main);
  font-size: 16px;
  line-height: 1.25;
}

button,
input {
  font-family: inherit;
}

button {
  cursor: pointer;
  border: none;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}